/*Tablet*/

@media only screen and (min-width: 1000px) {
    .container {
        width: 50%;
        margin-bottom: 50px;
    }
    .intro h1 {
        font-size: 35px;
    }
    .over h2 {
        font-size: 20px;
    }
}


/*smartphone*/

@media (max-width: 600px) {
    .container {
        width: 50%;
        margin-bottom: 50px;
    }
}